/* .my-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .my-form h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .my-form .form-group {
    margin-bottom: 20px;
  }
  
  .my-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .my-form input,
  .my-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .my-form input:focus,
  .my-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .my-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .my-form button[type="submit"]:hover {
    background-color: #005f75;
  } */