/* .home{
    height: 100vh; */
    
    /* background: rgb(7,154,164);
    background: linear-gradient(90deg, rgba(7,154,164,1) 0%, rgba(109,208,215,1) 100%);
} */

.home{
    width: 100%;
    padding-bottom: 50px;
}
.home h1 {
   
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 20px;
    color: #4CAF50;

}
.home img{
    padding-top: 15px;
    width: 100%;
}
.homelink {
    margin: 35px 0;
    text-align: center;
}
.homelink a {
 
    
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home p{
    
    width: 80%;
    margin: auto;
    padding: 20px;
}

.home h2{
    /* border: 1px solid red; */
    text-align: center;
    padding: 20px 0 ;
    /* width: 80%;
    margin: auto;
    padding: 20px; */
}

@media screen and (max-width: 850px){

    .home p{   
        width: 95%;       
    }

    .home h1 {
   
       font-size: 20px;
    
    }

}