.sweet{
    
    width: 85%;
    margin: auto;
    display: flex;
}

.sweetImg{
    padding: 10%;
}
.sweetImg img{
    width: 100%;
}


.sweetContent{
    /* width: 40%; */
    padding: 10%;

   

}


.sweet form{

    margin: 40px 0;
    
}
.sweet form input{
    padding: 5px 10px;
    font-size: 1.2em;
    border-radius: 20px;
    border-color: rgb(186, 193, 186);   
    
    
}

.sweet button{
    padding: 10px 15px;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
    outline:none;
    /* border-color: green;  */
    background-color: rgb(46, 156, 196);
    color: white;  
    margin-left: 50%;
    transform:translate(-50%, -50%);
    margin-top: 50px;
    
    
}


/* анимация на поп ап */
.cart-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 1;
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  .cart-popup-message {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  } 

  




@media screen and (max-width: 850px){

    .sweet{
        flex-direction: column;
    }

}