/* .sweet{
    
    width: 85%;
    margin: auto;
    display: flex;
}

.sweetImg{
    padding: 10%;
}
.sweetImg img{
    width: 100%;
}


.sweetContent{
  
    padding: 10%;

   

}


.sweet form{

    margin: 40px 0;
    
}
.sweet form input{
    padding: 5px 10px;
    font-size: 1.2em;
    border-radius: 20px;
    border-color: rgb(186, 193, 186);   
    
    
}

.sweet button{
    padding: 10px 15px;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
    outline:none;
    
    background-color: rgb(46, 156, 196);
    color: white;  
    margin-left: 50%;
    transform:translate(-50%, -50%);
    margin-top: 50px;
    
    
} */






/* Responsive CSS */
@media only screen and (max-width: 768px) {
  .sweet {
    flex-direction: column;
  }
  
  .sweetImg {
    margin-bottom: 20px;
  }
  
  .sweet form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sweet button {
    width: 100%;
  }
}

/* Default CSS */
.sweet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sweetImg {
  width: 40%;
  margin-right: 20px;
}

.sweetImg img {
  width: 100%;
  height: auto;
}

.sweetContent {
  flex-grow: 1;
}

.sweet h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2rem;
}

.sweet form {
  display: flex;
  align-items: center;
}

.sweet label {
  margin-right: 10px;
  font-size: 1.2rem;
}

.sweet input {
  width: 60px;
  margin-right: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.sweet button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sweet .bgGreen {
  background-color: #4CAF50;
}











/* анимация на поп ап */
.cart-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 1;
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  .cart-popup-message {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  } 

  



/* 
@media screen and (max-width: 850px){

    .sweet{
        flex-direction: column;
    }

} */